# Actual Values for April 2022


All the models we used for predictions we also forecasted the prices for a month to see how it would fare on a realtime basis, therefore we also quicly derive to actual prices to compare.

### Import Dependencies

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

### Data Mining and processing

In [2]:
stocks = ['IOC','TCS','HDFCBANK','KOTAKBANK','LT','ITC']

In [3]:
stocks_ns = [sub + '.NS' for sub in stocks]

In [4]:
data = yf.download(tickers=stocks_ns,start='2022-03-31',end='2022-04-30')

[*********************100%***********************]  6 of 6 completed

In [24]:
df = data[['Close']].reset_index()

In [25]:
df.columns = df.columns.droplevel()

In [26]:
df.rename(columns={df.columns[0]:'Date'},inplace=True)

In [27]:
df = df.set_index('Date')

In [30]:
df = df.asfreq('D')

In [31]:
df = df.fillna(method='bfill')

In [33]:
df = df.reset_index()

### Portfolio Index Calculation

Basis of the weights we calculated, we calculate an index value for the portfolio for the month of april

In [35]:
weights = pd.read_pickle('Weights.pkl')

In [37]:
weights = weights.set_index('Stocks')

In [38]:
weights

                Prices      Units   Weights
Stocks
ITC         249.199997  40.128411  0.274451
IOC         117.199997  85.324234  0.583560
LT         1773.599976   5.638250  0.038562
TCS        3731.550049   2.679852  0.018328
HDFCBANK   1476.949951   6.770710  0.046307
KOTAKBANK  1763.099976   5.671828  0.038791

In [41]:
df['Weighted_price'] = (df['ITC.NS']*weights.at['ITC', 'Weights'])+(df['IOC.NS']*weights.at['IOC', 'Weights'])+(df['LT.NS']*weights.at['LT', 'Weights'])+(df['HDFCBANK.NS']*weights.at['HDFCBANK', 'Weights'])+(df['TCS.NS']*weights.at['TCS', 'Weights'])+(df['KOTAKBANK.NS']*weights.at['KOTAKBANK', 'Weights'])

In [44]:
df.to_pickle('Actuals_april_22.pkl')